:root {
    --cor-primaria: #286fa5;
    --cor-segundaria: #81b340;
    /*Quando rolar um hover ou algo do tipo*/
    --cor-terciaria: #111;
    /* Cor usada para o */
    --cor-complementar: #111;
}


/* Formatação CSS Whatsapp */

.my-float {
    margin-top: 15px;
}

.border-button-theme {
    border: 2px solid var(--cor-primaria);
    color: var(--cor-primaria);
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 36px;
    right: 28px;
    background-color: #25d366;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    transition: .5s ease-in-out;
}


/* Fim Formatação CSS Whatsapp */

.label-home {
    color: #FFF!important;
}

.finalidade_home {
    background-color: rgba(204, 204, 204, 0.7);
    ;
    border-color: rgba(204, 204, 204, 0.7);
    ;
}

.link-email {
    color: #FFF!important;
}

.btn-group>.btn:first-child {
    margin-left: -9px;
    !important
}

.corpo-input-busca-inicial {
    margin-bottom: 10px;
}


/*ITEM MARCADOR DO TUTULO*/

.section-header h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #189dc300!important;
    bottom: 0;
    left: 0;
    display: none;
}

#team .member span {
    font-style: normal;
    display: block;
    font-size: 13px;
}

.cor-div {
    background-color: silver;
    height: 100px;
    border: 1px solid #000;
}

.cor-linha {
    background-color: green;
}

.div-fixa {
    width: 100%;
    height: 100%;
    max-width: 50%;
    margin-left: 50%;
    position: fixed;
    background-color: red;
}

.conteudo {
    float: left;
    width: 50%;
}

#map {
    width: 100%;
    height: 90%;
}

#intro #intro-carousel::before {
    content: '';
    background-color: rgba(253, 253, 253, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 7;
}

.input-style {
    color: #FFF;
}

#about .content h2 {
    color: var(--cor-primaria);
    font-weight: 700;
    font-size: 36px;
    font-family: "Raleway", sans-serif;
}

.nav-menu li:hover>a,
.nav-menu>.menu-active>a {
    color: var(cor--primaria);
}

#about .content h2 {
    color: var(cor--primaria);
    font-weight: 700;
    font-size: 36px;
    font-family: "Raleway", sans-serif;
}

.section-header h2 {
    font-size: 32px;
    color: var(cor--primaria);
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
    margin-top: 100px;
}

.section-header h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(cor--primaria);
    bottom: 0;
    left: 0;
}

#team .member .details {
    background: #fff;
    color: #fff;
    padding: 15px;
    border-radius: 0 0 3px 3px;
}


/** PROPERTIES DETAILS PAGE AREA START **/

.properties-details-page p {
    line-height: 25px;
}

.property-content .facilities-list li i {
    color: var(--cor-primaria);
}

.panel-box .panel-heading .panel-title a i {
    color: var(--cor-primaria);
}

.properties-amenities ul li i {
    color: var(--cor-primaria);
}

.properties-condition ul li i {
    color: var(--cor-primaria);
}

.properties-amenities ul {
    margin: 0;
    padding: 0;
}

.properties-amenities li {
    list-style: none;
}

.properties-amenities ul li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 13px;
}

.properties-amenities ul li i {
    margin-right: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

.properties-condition ul {
    margin: 0;
    padding: 0;
}

.properties-condition li {
    list-style: none;
}

.properties-condition ul li {
    list-style: none;
    margin-bottom: 20px;
    color: #4a4747;
    font-size: 13px;
}

.properties-condition ul li i {
    margin-right: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.h3-branco {
    color: #fff;
    font-weight: bold;
}


/*.h3-branco{*/


/*color: #FFF;*/


/*font-weight:bold;*/


/*}*/

.card-img-top {
    width: 100%;
    height: 250px;
}


/*.img-logo{*/


/*max-height: 45px;*/


/*}*/

.logo img {
    height: 65px;
}

.logo {
    padding: 0;
    float: left;
    margin-right: 50px;
}

.logo-img img {
    height: 40px;
    margin-top: 19px;
    margin-bottom: 19px;
    margin-right: 50px;
    vertical-align: middle;
}

.nosso-time {
    background-color: #004965!important;
}

.corpoListDetalhe {
    overflow: hidden;
}

.iconeListaCardListagem {
    width: 20px!important;
}

.text-cards {
    font-size: 13px!important;
}

.corpo-card {
    margin: 10px;
    box-shadow: 10px 10px 10px 0px #8888884f;
}

.corpo-card-2 {
    margin: 10px;
    box-shadow: 5px 10px 10px 0px #8888884f!important;
}

.corpo-banner-busca {
    /*height: -moz-calc(113vh - 127px);*/
    height: -webkit-calc(125vh - 127px);
    /*height: calc(100vh - 127px);*/
    background: url(../images/banner/1.jpg) no-repeat;
    background-size: cover;
    background-size: cover;
    background-position: center;
    /*background: red;*/
}

.boxBusca {
    /*background-color: rgba(0,0,0,0.8);*/
    /*padding: 15px 15px 25px 15px;*/
    /*width: 720px;*/
    /*border-radius: 8px;*/
    background-color: rgba(10, 10, 10, 0.58);
    border-top: 6px solid var(--cor-primaria);
    padding: 15px 15px 25px 15px;
    width: 720px;
    border-radius: 3px;
}

.btn-call {
    color: #fff;
    background-color: #f63;
    border-color: #e84812;
}

.area-call-to-action-home-mapa {
    padding-top: 10%!important;
    padding-bottom: 29%!important;
    /*background: url(../images/imoveis/1.jpg) no-repeat;*/
    height: calc(100vh - 100px);
}

.area-call-to-action {
    padding-top: 10%;
    padding-bottom: 15%;
    /*background: url(../images/imoveis/1.jpg) no-repeat;*/
    background: url(../images/banner/call-to-action-venha.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    /*height: calc(100vh - 100px);*/
    /*    
         -webkit-filter: blur(15px);
      -moz-filter: blur(15px);
      -o-filter: blur(15px);
      -ms-filter: blur(15px);
      filter: blur(15px);*/
}

.area-call-to-action-mapa {
    padding-top: 15%;
    padding-bottom: 15%;
    background: url(../images/imoveis/call-mapa.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 100px);
}

.area-call-to-action-equipe {
    padding-top: 300px;
    padding-bottom: 300px;
    background: url(../images/equipe/equipe-caldini.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 100px);
}

.area-call-to-action-alugar {
    padding-top: 160px;
    padding-bottom: 160px;
    background: url(../images/banner/fundo-banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    /*height: calc(100vh - 100px);*/
}

.area-call-to-action-alugar:before {
    background-color: white;
    /*height: calc(100vh - 100px);*/
}

.como-alugar-novo {
    background-color: #2d2d2da6;
}

.h3-cinza {
    color: #343a40;
}

.link-text-footer {
    color: #101010!important;
}

.txt-card-itens {
    padding: 0px;
}


/*-----------------SOBRE*/

.corpo-historia-azul {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(24, 157, 195);
}

.corpo-historia-branco {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFF;
}

.text-sobre {
    font-size: 20px;
    color: #ffffffc7;
}

.text-sobre-cinza {
    font-size: 20px;
    color: #555;
}

.text-span {
    color: #fff;
    font-weight: bold;
}

.banner-equipe-detalhe {
    background-color: var(--cor-primaria);
    padding-top: 150px;
    padding-bottom: 150px;
    background-size: cover;
    background-position: center;
}

.p-branco {
    font-size: 20px;
    color: #FFF;
}

.valor-card {
    float: right;
    background: transparent;
    height: 45px;
    width: 100%;
    text-align: right;
    margin-top: -45px;
}

.valor-texto {
    background: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 5px 10px;
    color: #FFF;
}

.valor-card-destaque{
    float: right;
    background: transparent;
    height: 45px;
    position:absolute;
    width: 93%;
    text-align: left;
    top: 230px;
    display: none;
} 

.watsapp {
    text-decoration: none;
    color: #FFF!important;
}


/*BAOTAO DE CONTATOS*/

#button_forms {
    background: #50d8af;
    border: 0;
    border-radius: 3px;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
}

#button_forms_anunciar {
    background: #50d8af;
    border: 0;
    border-radius: 3px;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
}

.label_busca {
    color: #FFF;
}


/* ----------------------------------------------
 * Generated by Animista on 2018-9-21 10:0:13
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */

@-webkit-keyframes rotate-scale-up {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }
    50% {
        -webkit-transform: scale(2) rotateZ(180deg);
        transform: scale(2) rotateZ(180deg);
    }
    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}

@keyframes rotate-scale-up {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }
    50% {
        -webkit-transform: scale(2) rotateZ(180deg);
        transform: scale(2) rotateZ(180deg);
    }
    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}

.rotate-scale-up {
    -webkit-animation: rotate-scale-up 0.65s linear both;
    animation: rotate-scale-up 0.65s linear both;
}


/*//------------------------*/

.text-footer-color {
    color: #FFF!important;
}

section {
    background-color: transparent
}

#buscar-imovel {
    display: none;
}

#buscar-imovel-desktop {
    display: block;
}

@media (max-width: 575.98px) {
    h1 {
        font-size: 28px
    }
    h2 {
        font-size: 24px!important;
    }
    .section-header h2 {
        margin-top: 0px;
    }
    .breadcrumb {
        display: none;
    }
    #buscar-imovel {
        display: block;
    }
    #buscar-imovel-desktop {
        display: none;
    }
    .corpo-filtro {
        margin-bottom: 20px
    }
    #corpo-filtro {
        display: none;
    }
    .boxBusca {
        margin-top: 273px;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 15px 15px 25px 15px;
        width: auto;
        border-radius: 8px;
        margin: 10px;
    }
    .margin-busca-mobile {
        margin-top: 130px !important;
    }
    #filtrarForm {
        display: none;
    }
}


/*// Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {
    .breadcrumb {
        display: none;
    }
    #filtrarForm {
        display: none;
    }
    #buscar-imovel {
        display: block;
    }
    #buscar-imovel-desktop {
        display: none;
    }
}


/*// Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
    #filtrar {
        display: none;
    }
    #buscar-imovel {
        display: block;
    }
    #buscar-imovel-desktop {
        display: none;
    }
}


/*// Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    #filtrar {
        display: none;
    }
    #buscar-imovel {
        display: none;
    }
}


/*// Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    .img-logo {
        /*width: 208px;*/
    }
    #filtrar {
        display: none;
    }
}

@media (min-width: 1022px) and (max-width: 1025px) {
    .nav-menu a {
        padding: 10px 3px;
        font-size: 14px;
    }
    .nav-menu ul li a {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    div #logo {
        margin-top: 0px;
    }
}

@media (max-width: 425px) {
    #team {
        margin-top: 60px;
    }
}